<div class="yp-footer">
  <div class="container-fluid footer-black"> 
    <div class="container">
      <div class="row clearfix footer1">
        <div class="col-md-12 column">
          <ul class="list-unstyled list-inline f400">
            <li><a href="http://www.yaampi.com/yaampi-la-red-social-de-salud">Yaampi</a></li>
            <li><a href="http://www.yaampi.com/yaampipro">YaampiPro</a></li>
            <li><a href="http://www.yaampi.com/apoyos-institucionales">Apoyo Institucional</a></li>
            <li><a href="http://www.yaampi.com/politica-de-privacidad-y-proteccion-de-datos">Protección de datos</a></li>
            <li><a href="http://www.yaampi.com/politica-de-uso">Política de uso</a></li>
            <li><a href="http://www.yaampi.com/contacto">Contacto</a></li>
            <li><a href="http://www.yaampi.com/empresas-del-sector">Empresas del sector</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-knowledge"> 
    <div class="container">
      <div class="row clearfix">
        <h4>Apoyan el conocimiento en salud</h4>
        <ul class="logos list-unstyled list-inline">
          <li><a title="Envíe dinero al exterior" target="_blank" href="http://www.columbus.com.ar/"><img style="margin-top:10px;" alt="Envíe dinero al exterior" src="http://www.yaampi.com/files/logoColumbus.png"></a></li>
          <li><a target="_blank" href="http://www.consensosalud.com.ar/"><img title="Consenso Salud" src="http://www.yaampi.com/files/ConsensoSalud.png"></a></li>
          <li><a target="_blank" href="http://www.webtpc.com/"><img title="TPC - Seguros" src="http://www.yaampi.com/files/logoTPC.jpg"></a></li>
          <li><a href="http://www.sansegur.com.ar" target="_blank"><img src="http://www.yaampi.com/files/logoSANsEGUR.jpg" title="San Segur"></a></li>          
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-institutional"> 
    <div class="container">
      <div class="row clearfix">
        <h4 class="col-md-12 column text-center">Apoyo institucional</h4>
        <div class="col-md-12 column">
        <div class="carousel slide" id="carousel-intitutional">
            <div class="carousel-inner">
                <div class="item active">
                  <ul class="list-unstyled list-inline">
                      <li><a href="/agreements/#MEDES"><img width="128" height="60" alt="" src="http://yaampi.com/files/medes_1.png"></a></li>
                      <li><a href="/agreements/#RANM"><img width="128" height="60" alt="" src="http://yaampi.com/files/logoranm.png"></a></li>
                      <li><a href="/agreements/#FDC"><img width="128" height="60" alt="" src="http://yaampi.com/files/logo-foro-de-las-ciencias_1.png"></a></li>
                      <li><a href="/agreements/#femecon"><img width="70" height="60" title="FEDERACION MEDICA DEL CONURBANO" alt="FEDERACION MEDICA DEL CONURBANO" src="http://yaampi.com/files/logo-femecong.png"></a></li>
                      <li><a href="/agreements/#sea"><img width="36" height="45" title="Asociación Civil Salud Educación Ambiente" alt="Asociación Civil Salud Educación Ambiente" src="http://yaampi.com/files/sealogo_0.png"></a></li>
                      <li><a href="/agreements/#rpnews"><img width="61" height="36" title="Responsabilidad prefesional" alt="Responsabilidad prefesional" src="http://yaampi.com/files/rpnews_0.png"></a></li>
                  </ul>
                </div>
                <div class="item">
                  <ul class="list-unstyled list-inline">
                      <li><a href="/agreements/#osunsam"><img width="128" height="29" title="Obra Social de la Universidad Nacional de San Martín" alt="Obra Social de la Universidad Nacional de San Martín" src="http://yaampi.com/files/osunsam2_0_0.png"></a></li>
                      <li><a href="/agreements/#cidcam"><img width="50" height="34" title="Comision Interinstitucional para el Desarrollo de la Calidad de la Atención Médica" alt="Comision Interinstitucional para el Desarrollo de la Calidad de la Atención Médica" src="http://yaampi.com/files/cidcam_0.png"></a></li>
                      <li><a href="/agreements/#fecliba"><img width="128" height="33" title="Federación de clínicas de Buenos Aires" alt="Federación de clínicas de Buenos Aires" src="http://yaampi.com/files/fecliba2_0_0.png"></a></li>
                      <li><a href="/agreements/#confeclisa"><img width="52" height="41" title="Confederación Argentina de Clínicas, Sanatorios y Hospitales" alt="Confederación Argentina de Clínicas, Sanatorios y Hospitales" src="http://yaampi.com/files/confeclisa_0.png"></a></li>
                      <li><a href="/agreements/#isalud"><img width="128" height="41" title="Universidad isalud" alt="Universidad isalud" src="http://yaampi.com/files/isalud2_0_0.png"></a></li>
                      <li><a href="/agreements/#cenas"><img width="76" height="35" title="Centro Especializado para la Normalización y Acreditación en Salud" alt="Centro Especializado para la Normalización y Acreditación en Salud" src="http://yaampi.com/files/cenas_0.png"></a></li>
                  </ul>
                </div>
                <div class="item">
                  <ul class="list-unstyled list-inline">
                      <li><a href="/agreements/#cenas"><img width="76" height="35" title="Centro Especializado para la Normalización y Acreditación en Salud" alt="Centro Especializado para la Normalización y Acreditación en Salud" src="http://yaampi.com/files/cenas_0.png"></a></li>
                      <li><a href="/agreements/#oipss"><img width="71" height="41" title="Organización Iberoamericana de Prestadores de Servicios de Salud" alt="Organización Iberoamericana de Prestadores de Servicios de Salud" src="http://yaampi.com/files/oipss.png"></a></li>
                      <li><a href="/agreements/#oehss"><img width="71" height="41" title="Organización Española de Hospitales y Centros de Salud" alt="Organización Española de Hospitales y Centros de Salud" src="http://yaampi.com/files/oehss.png"></a></li>
                      <li><a href="/agreements/#fb"><img width="71" height="41" title="Fundación Bamberg" alt="Fundación Bamberg" src="http://yaampi.com/files/fb.png"></a></li>
                      <li><a href="/agreements/#ahrpm"><img width="128" height="40" title="Asociación Hispana de Responsabilidad Profesional Medica" alt="Asociación Hispana de Responsabilidad Profesional Medica" src="http://yaampi.com/files/ahrpm_0.png"></a></li>
                      <li><a href="/agreements/#caes"><img width="71" height="41" title="Cámara Argentina de empresas de salud" alt="Cámara Argentina de empresas de salud" src="http://yaampi.com/files/caes.png"></a></li>
                  </ul>
                </div>
                <div class="item">
                  <ul class="list-unstyled list-inline">
                      <li><a href="/agreements/#oipss"><img width="71" height="41" title="Organización Iberoamericana de Prestadores de Servicios de Salud" alt="Organización Iberoamericana de Prestadores de Servicios de Salud" src="http://yaampi.com/files/oipss.png"></a></li>
                      <li><a href="/agreements/#oehss"><img width="71" height="41" title="Organización Española de Hospitales y Centros de Salud" alt="Organización Española de Hospitales y Centros de Salud" src="http://yaampi.com/files/oehss.png"></a></li>
                      <li><a href="/agreements/#fb"><img width="71" height="41" title="Fundación Bamberg" alt="Fundación Bamberg" src="http://yaampi.com/files/fb.png"></a></li>
                      <li><a href="/agreements/#ahrpm"><img width="128" height="40" title="Asociación Hispana de Responsabilidad Profesional Medica" alt="Asociación Hispana de Responsabilidad Profesional Medica" src="http://yaampi.com/files/ahrpm_0.png"></a></li>
                      <li><a href="/agreements/#caes"><img width="71" height="41" title="Cámara Argentina de empresas de salud" alt="Cámara Argentina de empresas de salud" src="http://yaampi.com/files/caes.png"></a></li>
                      <li><a href="/agreements/#isalud"><img width="128" height="41" title="Universidad isalud" alt="Universidad isalud" src="http://yaampi.com/files/isalud2_0_0.png"></a></li>
                  </ul>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-intitutional" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-intitutional" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
          
        </div>
        <div class="col-md-12 column text-center"><h4><a href="http://www.yaampi.com/agreements" class="btn btn-primary">
            <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> más información</a></h4>
        </div>
        <div class="col-md-12 column text-center"><small>Copyright 2012 - Yaampi.com | Todos los derechos reservados</small></div>
      </div>
    </div>
  </div>
</div> 