<nav class="navbar navbar-default navbar-fixed-top yp-header">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-toggle collapsed" data-toggle="collapse">
        {{!-- {{block-user Yp_user=Yp.user_current}} --}}
      </div>
      <a class="navbar-brand" href="/yp/#/"><img src="/images/logo.png" alt="Yaampi, la red social de salud"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="nav navbar-nav navbar-right">
        {{!-- {{block-user initialize=true Yp_user=Yp.user_current hideForm=true}} --}}
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>